-i https://pkgs.safetycli.com/repository/yourself-foxhole/project/artillery-logistics-network/pypi/simple/
# Discord
disnake==2.10.1

# Type checking
pyright==1.1.404

# Database
zodb==6.0.1

# Testing
pytest==8.4.1
pytest-asyncio==1.1.0
pytest-cov==6.2.1
pytest-func-cov==0.2.3
pytest-mock==3.14.1
hypothesis==6.138.6

# Utilities
python-dotenv==1.1.1
apscheduler==3.11.0
bandit==1.8.6
loguru==0.7.3
networkx==3.5
requests==2.32.5

# Data handling
foxapi==1.7.1
tensorflow==2.20.0
numpy==2.3.2

# Code Quality
ruff==0.12.8
safety==3.6.0
vulture==2.14